<div class="container bg-light p-4">

    <div class="row">
        <div class="col-7 m-auto">
         <h1 class="text-center">Cadastro de Alunos</h1>
            <form>
                <div class="mb-3">
                    <label for="Matricula" class="form-label">Matricula</label>
                    <input 
                    type="TEXT" 
                    class="form-control" 
                    id="matricula" 
                    nome="matricula">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input 
                    type="TEXT"
                    class="form-control" 
                    id="nome"
                    nome="matricula">
                </div>
                <div class="mb-3">
                    <label for="Curso" class="form-label">Curso</label>
                    <input type="TEXT" class="form-control" id="nome" nome="matricula">
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>